.footer-part{
    background: #ffffff;
    -webkit-box-shadow: -1px -1px 8px 0px rgba(0,0,0,0.37);
-moz-box-shadow: -1px -1px 8px 0px rgba(0,0,0,0.37);
box-shadow: -1px -1px 8px 0px rgba(0,0,0,0.37);
margin-top: 150px;
.logos-part{
    background: url(../image/footer-ball.png) no-repeat center;
    background-size: cover;
    padding-top: 178px;
    padding-bottom: 78px;
  clip-path: polygon(0 0, 93% 0, 82% 100%, 0% 100%);
  position: relative;
  width: 104%;
  .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(218, 180, 41,.7);
  }
  .logos{
    position: relative;
    z-index: 99;
    img{
        margin-top: -145px;
        margin-left: -33px;
    }
    p{
        color: $primarycolor;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        width: 313px;
    text-align: center;
    margin-left: -59px;
    }

  }

}
.footer-details{ 
    .footer-item{
        margin-top: 80px;

        h3{
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: $primarycolor;
            margin-bottom: 22px;
            margin-left: -4px;
        }
        .imt{
            margin-left: 5px;
            margin-bottom: 9px;
        }
        .tem{
            margin-left: 3px;
        }
        .rec{
            margin-left: 53px;
        }
        .icon{
            margin-left: -6px;
            i{
                color: #444444;
                font-size: 24px;
                margin-top: 11px;
            }
        }
        .cont{
            p{
                margin-left: -47px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: 16px;
                color: #444444;
            }
        }
        .page{
            margin: 20px 7px;
            width: 125%;
            h4{
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: 20px;
                color: #444444;
                text-transform: capitalize;
                transition: .4s;
                cursor: pointer;
                &:hover{
                    color: #ffcc33;
                }
            }
            
        }
        .pages{
            margin: 20px 40px;
            h4{
                font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 20px;
            color: #444444;
            text-transform: capitalize;
            transition: .4s;
            cursor: pointer;
            &:hover{
                color: #ffcc33;
            }
            }
        }
        .small-pix{
            margin-left: 50px;
            position: relative;
            width: 15%;
            .overlay{
                position: absolute;
                top: 5px;
                left: 0;
                width: 308%;
                height: 95%;
                background: #000;
                transform: scale(0);
                border: 4px solid #d1bb3c;
                transition: .4s;
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    color: #444444;
                    height: 30px;
                    width: 30px;
                    line-height: 30px;
                    font-size: 14px;
                    text-align: center;
                    background: #ffcc33;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
            &:hover .overlay{
                transform: scale(.7);
                
            }
        }
        .matches-right{
            h4{
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: 16px;
                color: #444444;
                margin-left: -39px;
                margin-bottom: 15px;
            }
            p{
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: 16px;
                color: #444444;
                margin-left: -39px;
               
            }
            .dates{
                margin-top: -11px;
            }
            .com{
                margin-left: -51px;
            }
        }
    }
 
    .frist-item{
        margin-left: -48px;
    }
    .third{
        width: 213%;
    }

}
}
